.icon {
  width: 22px;
  height: 22px;
}

.dark {
  display: none; /* Скрыть элемент в темной теме */
}

.light {
  display: block; /* Показать элемент в светлой теме */
}

.light .dark {
  display: none; /* Скрыть элемент в светлой теме */
}

.dark .light {
  display: block; /* Показать элемент в темной теме */
}
